ujXML_FHI2ET/FHI2ET.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- Egyszerű elemek-->
<xs:element name="nev" type="xs:string"/>
<xs:element name="alap" type="xs:integer"/>
<xs:element name="varos" type="xs:string"/>
<xs:element name="Irsz" type="xs:integer"/>
<xs:element name="utca" type="xs:string"/>
<xs:element name="Hszam" type="xs:integer"/>
<xs:element name="ar" type="xs:integer"/>
<xs:element name="ev" type="xs:integer"/>
<xs:element name="fajta" type="xs:string"/>
<xs:element name="Szid" type="xs:integer"/>
<xs:element name="Szh" type="xs:string"/>
<xs:element name="tszam" type="xs:string"/>
<xs:element name="nev" type="xs:string"/>
<!--Attribútumok-->
<xs:attribute name="Btkod" type="xs:integer"/>
<xs:attribute name="Bkod" type="xs:integer"/>
<xs:attribute name="Tkod" type="xs:integer"/>
<xs:attribute name="Vkod" type="xs:integer"/>
<xs:attribute name="BtkodREF" type="xs:integer"/>
<!--Komplex elemek: alapok-->
<xs:complexType name="cimtype">
<xs:sequence>
<xs:element ref="Varos">
<xs:element ref="Irsz">
<xs:element ref="utca">
<xs:element ref="Hszam">
</xs:sequence>
</xs:complexType>
<xs:complexType name="boraszattype">
<xs:sequence>
<xs:element ref="nev">
<xs:element ref="alap">
<xs:element type="cimtype" name="cim">
</xs:sequence>
<xs:attribute ref="Btkod" use="required"/>
</xs:complexType>
<xs:complexType name="bortype">
<xs:sequence>
<xs:element ref="nev">
<xs:element ref="ar">
<xs:element ref="fajta">
<xs:element ref="ev">
</xs:sequence>
<xs:attribute ref="Bkod" use="required"/>
<xs:attribute ref="BtkodREF" use="required"/>
</xs:complexType>
<xs:complexType name="tulajdonostype">
<xs:sequence>
<xs:element ref="nev">
<xs:element ref="Szid">
<xs:element ref="Szh">
<xs:element type="cimtype" name="cim">
</xs:sequence>
<xs:attribute ref="Tkod" use="required"/>
<xs:attribute ref="BtkodREF" use="required"/>
</xs:complexType>
<xs:complexType name="vevotype">
<xs:sequence>
<xs:element ref="nev">
<xs:element ref="tszam">
<xs:element type="cimtype" name="cim">
</xs:sequence>
<xs:attribute ref="Vkod" use="required"/>
</xs:complexType>
<!--Kész séma-->
<xs:element name="boraszatok">
<xs:complexType>
<xs:sequence>
 <xs:element name="boraszat" type="boraszattype"/>
<xs:element name="bor" type="bortype"/>
<xs:element name="tulajdonos" type="tulajdonostype"/>
<xs:element name="vevo" type="vevotype"/>
 </xs:sequence>
</xs:complexType>
<xs:key name="Btkod">
<xs:selector xpath="boraszatok/boraszat"/>
 <xs:field xpath="@Btkod"/>
</xs:key>
<xs:key name="Bkod">
<xs:selector xpath="boraszatok/bor"/>
 <xs:field xpath="@Bkod"/>
</xs:key>
<xs:key name="Tkod">
<xs:selector xpath="boraszatok/tulajdonos"/>
 <xs:field xpath="@Tkod"/>
</xs:key>
<xs:key name="Vkod">
<xs:selector xpath="boraszatok/Vevo"/>
 <xs:field xpath="@Vkod"/>
</xs:key>
<xs:keyref name="BtkodREF" refer="Btkod">
<xs:selector xpath="boraszatok/bor"/>
 <xs:field xpath="@BtkodREF"/>
</xs:keyref>
<xs:keyref name="BtkodREF" refer="Btkod">
<xs:selector xpath="boraszatok/tulajdonos"/>
 <xs:field xpath="@BtkodREF"/>
</xs:keyref>
</xs:element>
</xs:schema>
